{{- /* Zichtbare taxonomie-chips met links naar de term-pagina's. Context = Page. */ -}}
{{- $fields := slice "customer" "project" "type" "doctype" "subject" "owner" "tag" -}}
<span class="chips">
{{- range $f := $fields -}}
  {{- with (index $.Params $f) -}}
    {{- if reflect.IsSlice . -}}
      {{- range . -}}<a class="chip chip-{{ $f }}" href="{{ (printf "/%s/%s/" $f (. | urlize)) | relURL }}">{{ $f }}: {{ . }}</a>{{- end -}}
    {{- else -}}
      <a class="chip chip-{{ $f }}" href="{{ (printf "/%s/%s/" $f (. | urlize)) | relURL }}">{{ $f }}: {{ . }}</a>
    {{- end -}}
  {{- end -}}
{{- end -}}
</span>
