groups:
  - name: SSL Alerts Improvement_it
    rules:
      - alert: SSL Expiration 14 days - Improvement_it
        expr: (probe_ssl_earliest_cert_expiry - time()) / 86400 < 14
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: "SSL certificate expiring < 14 days"
          description: "The certificate {{ $labels.instance }} will expire in less than 31 days"
      - alert: SSL Expiration 7 days - Improvement_it
        expr: (probe_ssl_earliest_cert_expiry - time()) / 86400 < 7
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "SSL certificate expiring < 7 days"
          description: "The certificate {{ $labels.instance }} will expire in less than 7 days"
