groups:
  - name: SSL Alerts TechNative
    rules:
      - alert: SSL Expiration month - TechNative
        expr: (probe_ssl_earliest_cert_expiry{job="blackbox-technative"} - time()) / 86400 < 14
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: "SSL certificate expiring < 14 days"
          description: "The certificate {{ $labels.instance }} will expire in less than 31 days"
      - alert: SSL Expiration week - TechNative
        expr: (probe_ssl_earliest_cert_expiry{job="blackbox-technative"} - time()) / 86400 < 7
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "SSL certificate expiring < 7 days"
          description: "The certificate {{ $labels.instance }} will expire in less than 7 days"

