[Unit]
Description=Dagelijkse shutdown om 23:00
Documentation=beheerd via torreirow-nixos hosts/bobadela1

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl poweroff
